.devs__btn-more{
	width: 150px;
	height: 50px;
	border: 1px solid #D8D8D8;
	box-sizing: border-box;
	border-radius: 25px;
	background-color: #FFF;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.3px;
	color: #363636;
	margin: 60px auto 0;
	display: block;
	cursor: pointer;
	transition-delay: .3ms;
}

.devs__btn-more:hover{
	background-color: #45852D;
}

